* {
    margin:0px;
    padding:0px;
}

.cube{
    position:absolute;
    height: 60vh;
    width: 30vw;
    top:50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}
.box{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 100px;
    transform-style: preserve-3d;
    animation: animate 5s infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg); 
    }
    50%{
        transform: rotateX(45deg) rotateY(45deg);  
    }
    75%{
        transform: rotateX(-45deg) rotateY(45deg);  
    }
    100%{
        transform: rotateX(45deg) rotateY(-45deg); 
    }
}
.card{
    height: 250px;
    width:250px;
    text-align: center;
    color: black;
    background-color: blue;
    border: 2px solid black;
    font-size: 32px;
    box-sizing: border-box;
    position: absolute;
}
#Front{
    transform: translateZ(125px);
}
#Back{
    transform: translateZ(-125px);
}
#Left{
    right: 125px;
    transform: rotateY(-90deg);
}
#Right{
    left: 125px;
    transform: rotateY(90deg);
}
#Top{
    bottom: 125px;
    transform: rotateX(90deg);
}
#Bottom{
    top: 125px;
    transform: rotateX(-90deg);
}

